In [1]:
import pandas as pd

In [48]:
df = pd.read_csv('adult.data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
race_count = df['race'].value_counts()

# Mal porque considera muchos decimales. Debe considerar uno solo.

In [43]:
average_age_men = df[ df['sex'] == 'Male']['age'].mean()
average_age_men

39.43354749885268

In [5]:
df['salary'].value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

# Mal. Un solo decimal

In [6]:
percentage_bachelors = 100 * df['education'].value_counts().loc['Bachelors'] / len(df.index)

In [7]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
100 * len(df[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')) & (df['salary'] == '>50K')].index) / len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')].index)

46.535843011613935

In [8]:
# What percentage of people without advanced education make more than 50K?
df2 = df.drop(df[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))].index)
100 * len(df2[df2['salary'] == '>50K']) / len(df2)

17.3713601914639

In [9]:
higher_education = df[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'))].shape[0]

In [10]:
lower_education = df2.shape[0]

# Mal. cambiar cantidad de decimales

In [45]:
higher_education_rich = 100 * len(df[((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')) & (df['salary'] == '>50K')].index) / len(df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')].index)
higher_education_rich

46.535843011613935

# mal. Cantidad de decimales

In [67]:
lower_education_rich = 100 * df2[df2['salary'] == '>50K'].shape[0] / df2.shape[0]
lower_education_rich

17.3713601914639

In [13]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
min_work_hours = df['hours-per-week'].min()
num_min_workers = df[df['hours-per-week'] == df['hours-per-week'].min()].shape[0]

In [66]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
rich_percentage = 100 * df[ (df['hours-per-week'] == 1) & (df['salary'] == '>50K') ].shape[0] / df[ (df['hours-per-week'] == 1)].shape[0]
rich_percentage

10.0

# Mal. Debería ser Irán. Y el porcentaje 91.45517153424308 != 41.9

In [24]:
# What country has the highest percentage of people that earn >50K?
df3 = df [df['salary'] == '>50K']
highest_earning_country = df3['native-country'].value_counts().idxmax()
highest_earning_country_percentage = 100 * df3['native-country'].value_counts().loc[df3['native-country'].value_counts().idxmax()] / df3.shape[0]

In [35]:
top_IN_occupation = df3 [ df3['native-country'] == 'India' ]['occupation'].value_counts().idxmax()

In [17]:

def calculate_demographic_data(print_data=True):


    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }